@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

.ant-upload-select {
  width: 100% !important;
  height: 416px !important;
}

.ant-spin-dot-spin {
  color: white !important;
}